@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using MudBlazor
@using MudBlazor.Components

<div class="modal fade show" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" style="@(IsWindowVisible ? "display:block;" : "display:none;")">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@CloseWindow">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-button-container">
                    <div @onclick="@(() => TabIndex = 0)" class="@(TabIndex == 0 ? "active" : "")">User</div>
                    <div @onclick="@(() => TabIndex = 1)" class="@(TabIndex == 1 ? "active" : "")">Groups</div>
                </div>
                <EditForm Model="@User">
                    @if (TabIndex == 0)
                    {
                        <div class="form-group">
                            <label for="create-firstname">First Name*:</label>
                            <InputText id="create-firstname" @bind-Value="User.Firstname" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="create-lastname">Last Name*:</label>
                            <InputText id="create-lastname" @bind-Value="User.Lastname" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="create-username">Username*:</label>
                            <InputText id="create-username" @bind-Value="User.Username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="create-password">Password*:</label>
                            <InputText id="create-password" @bind-Value="User.Password" class="form-control" />
                        </div>
                    }
                    else
                    {
                        <pre>Select at least one</pre>
                        @foreach (var item in SelectedGroups)
                        {
                            <MudCheckBox @bind-Value="@item.IsSelected" Label="@item.Name" Disabled="@false" LabelPlacement="Placement.End" Size="Size.Large" />
                        }
                    }
                    <button type="submit" class="btn btn-primary" onclick="@OnEdit">Save</button>
                    <button type="button" class="btn btn-secondary" onclick="@CloseWindow">Cancel</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@if (IsWindowVisible)
{
    <div class="modal-backdrop fade show"></div>
}

<style>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1050;
    }

        .modal.fade {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .modal.show {
            display: block;
            opacity: 1;
        }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 1.75rem auto;
        pointer-events: none;
        max-width: 500px;
    }

    .modal.fade .modal-dialog {
        transform: translateY(-50px);
        transition: transform 0.3s ease-out;
    }

    .modal.show .modal-dialog {
        transform: none;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

    .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
    }

    .modal-body {
        position: relative;
        padding: 1rem;
    }

    .modal-footer {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }

        .modal-footer > * {
            margin: 0.25rem;
        }

    .close {
        padding: 0;
        margin: -1rem -1rem -1rem auto;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

        .close:hover {
            opacity: 0.75;
        }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000;
    }

        .modal-backdrop.fade {
            opacity: 0;
        }

        .modal-backdrop.show {
            opacity: 0.5;
        }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
    }

        .form-control:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004080;
        }

    .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #495057;
        }

    .tab-button-container {
        padding-bottom: 20px;
        display: flex;
    }

        .tab-button-container div {
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid transparent;
            margin-bottom: -2px;
            margin-right: 10px;
        }

            .tab-button-container div:hover {
                background-color: #eee;
            }

            .tab-button-container div.active {
                background-color: #fff;
                border-bottom-color: #007bff;
                color: #007bff;
                font-weight: bold;
            }
</style>